.principal {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gainsboro;
    height: 1500px;
}

.corpo-da-pagina {
    display: inline-block;
    position: relative;
    margin: 15px;
    left: 500px;
    height: 650px;
    width: 800px;
    background-color: white;
}

.corpo-da-pagina {
    a {
        color: orange;
    }
}

.corpo-da-pagina2 {
    display: inline-block;
    position: relative;
    margin: 15px;
    left: -335px;
    height: 650px;
    width: 800px;
    background-color: white;
    top: 680px;
}

.corpo-da-pagina2 {
    a {
        color: orange;
    }
}

.conteudo {
    margin: 20px;
}

.conteudo img {
    width: 750px;
}

.conteudo h2 {
    color: orange;
    margin: 0px;
}

.conteudo p {
    margin: 5px 0px 5px 0px;
    font-size: small;

}

h1 {
    text-align: center;
    display: inline;
    color: rgb(54, 54, 54);
    font-size: 50px;
}

h1 span {
    color: white;
}

.menu {
    background-color: orange;
    padding: 30px 20px 10px 20px;
    text-align: center;
}

.postagens-recentes {
    padding: 5px;
    margin: 0px;
    background-color: white;
    width: 250px;
    height: 170px;
    position: relative;
    left: 1340px;
    top: -665px;
}

.postagens-recentes {
    a {
        color: orange;
        text-decoration: none;
    }

    p {
        margin: 0px;
    }

}

.categorias {
    padding: 5px;
    margin: 0px;
    background-color: white;
    width: 250px;
    height: 135px;
    position: relative;
    left: 1340px;
    top: -645px;
}

h3 {
    margin: 2px;
    color: black;
    background-color: rgb(175, 175, 175);
    padding: 4px;
}



.menu li {
    display: inline;
    color: white;
    text-align: center;
    margin: 10px;
    padding: 5px;
    font-weight: bold;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    padding: 10px;
    background-color: white;
    color: orange;
}

.categorias ul {
    margin: 0px;
    padding: 5px;
}

.categorias li {
    display: block;
    color: orange;
}

.categorias li a {
    color: orange;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}